@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
}

.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 350px;
    min-height: 250px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 6px 16px rgba(10, 9, 11, 0.08), 0px 0px 0px 1px rgba(10, 9, 11, 0.05);
}

.icon{
    padding: 10px;
    border-radius: 5px;
    color: #1751D0;
    background-color: #F5F8FD;
}

.btn{
    border: none;
    background-color: transparent;
    color: #1751D0;
    padding-right: 5px;
    cursor: pointer;
    font-size: .7rem;
}

.btnClass{
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.confirm{
    background-color: #F53535;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
}

.textDiv{
    margin-bottom: 15px;
}

.cancel{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
}

.submit{
    background-color: #1751D0;
    border-radius: 5px;
    border: none;
    color: #fff;
}


.plane{
    color: #fff;
    background-color: #1751D0;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    padding: 15px;
    margin-left: 10px;
    width: 45px !important;
}

.email{
    border-radius: 8px;
    padding: 10px;
    width: 250px;
    border: 1px solid #e6e6e6;
    position: relative;
}

hr{
    border: 1px solid #e6e6e6;
    width: 350px;
    margin: 10px;
}

.peoplesDiv{
    width: 100%;
}

.fileAcess{
    margin-top: 7px;
    background-color: #F5F5F5;
    width: 100%;
    border-radius: 10px;
    height: 50px;
    padding: 28px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.all-users{
    margin-top: 7px;
    width: 100%;
    border-radius: 10px;
    padding: 7px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.all-users h2{
    font-size: .7rem;
    color: #1751D0;
    font-weight: 500;
}

.globe-div{
    display: flex;
    align-items: center;
}

.globe-div ul{
    list-style: none;
    font-size: .7rem;
    margin-left: 10px;
    line-height: 1.3;
}

.globe-div ul li.bold{
    font-weight: 700;
}

.globe-div ul li.mail{
    font-weight: 400;
    opacity: 45%;
}

label{
    width: 36px;
    height: 20px;
    border-radius: 25px;
    background-color: #c9c9cc;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease-in;
}

label::before{
    position: absolute;
    content: '';
    background-color: #fff;
    width: 12px;
    height: 12px;
    top: 4px;
    left: 5px;
    border-radius: 25px;
    transition: .8s ease;
}

label.active:before{
    left: 20px;
}

label.active{
    background-color: #000;
    
}


.email:focus{
    outline: none;
}

.btnDiv{
    width: 100%;
    display: flex;
}

.number{
    background-color: #C9C9CC;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin-left: -7px;
    font-size: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: bold;
}

.number2{
    background-color: #ff7135;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin-left: -7px;
    font-size: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold
}

.mybtn{
    width: 100%;
    padding: 9px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.mybtn:hover{
    transform: translate(1%, 5%);
    /* box-shadow: 15px 15px 15px rgb(0, 0, 0, 0.05); */
}


h1{
    font-size: 1rem;
}

p{
    font-size: .75rem;
    text-align: left;
}

img{
    border-radius: 50%;
    width: 30px;
    border: 2.5px solid #fff;
    z-index: 1;
}

.users{
    width: 100%;
    margin-top: -15px;
    display: flex;
    padding: 10px 0px;
    align-items: center;

}

.names{
    margin-left: 10px;
}

.users .names h2{
    font-weight: 500;
    font-size: .6rem;
    line-height: 1.2;
}

.pad{
    margin-left: -10px;

}


.remove{
    display: none;
}

.close{
    cursor: pointer;
}